.wrapper {
	background-color: #232323;
	height: 230px;
	overflow: hidden;
	position: relative;
	width: 100%;
	display: flex;
	align-items: center;
	/* padding: 0 20px; */
	border-top: #343434 2px solid;
	border-bottom: #343434 2px solid;
}

.wrapper:before, .wrapper:after {
	content: "";
	position: absolute;
	height: 230px;
	width: 150px;
	z-index: 2;
}

.wrapper:after {
	right: 0;
	top: 0;
	transform: rotateZ(180deg);
}

.wrapper:before {
	left: 0;
	top: 0;
}

.wrapper .track {
	display: flex;
	width: calc(150px * 10);
	animation: scroll 30s 0.5s linear infinite;
}

.wrapper .logo {
	width: 250px;
}

.wrapper .logo img {
	height: 90px;
}

@keyframes  scroll {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(calc(-150px * 5));
	}
}


/* No slider */

.coding {
	background-color: #232323;
	min-height: 230px;
	overflow: hidden;
	position: relative;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-top: #343434 2px solid;
	border-bottom: #343434 2px solid;
	flex-wrap: wrap;
}

.coding .logo {
	width: 150px;
	text-align: center;
}

.coding .logo img {
	height: 90px;
	padding: 20px 0;
}