@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #191919;
    color: #dedede;
    font-family: "Roboto", sans-serif;
}


/* HEADER */

.header {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 10px 30px;
    border-bottom: 2px #343434 solid;
    margin-bottom: 2rem;
}


/* HERO REGION */

.hero_region {
    min-height: 12rem;
    height: auto;
    margin: auto;
    text-align: center;
    padding: 3rem 0;
}

.own_img {
    padding: 0 0 3rem 0;
}

.own_img img{
    max-width: 220px;
    border-radius: 95%;
}


/* REFERENCE */

.reference {
    max-width: 1280px;
    width: 100%;
    margin: 4rem auto;
    text-align: center;
}

.images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.refe {
    max-width: 325px;
    display: inline-flex;
    flex-direction: column;
    padding: 35px 25px;
    line-height: 1.5rem;
}

.zoom {
    transition: transform .2s;
    margin: 0 auto;
}

.zoom:hover {
    transform: scale(1.5);
}

.refe img {
    max-width: 300px;
    width: 100%;
    padding-bottom: 20px;
}


/* INFO */

.info {
    text-align: center;
    max-width: 768px;
    padding: 3rem 15px;
    margin: auto;
    line-height: 1.5rem;
}


/* CODING SPECS */

.coding_languages {
    max-width: 600px;
    margin: auto;
    text-align: center;
}