p {
    color: #b1aeae;
}

a {
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: 500;
    color: #fefefe;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

h3 {
    margin-bottom: 1rem;
}

ul li {
    list-style: none;
    color: #b1aeae;
}

.header h2 {
    margin: 0;
}
